---
import '../styles/common.css'
---

<html lang="en">
  <head>
    <title>Online Store</title>
    <style>
      h1 {
        font-size: 36px;
      }

      .product-listing-title {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="w-full h-full flex items-center justify-center">
      <h1 class="text-5xl">Hello</h1>
    </div>
  </body>
</html>
